.storyBorder{
    padding: 2px;
    background:linear-gradient(
        200deg,
       #da3394 25%,
       #e03c67 50%,
       #f3753b 75%,
       #f99b4a 100%
        );   
        border-radius:50%;
}


.searchIcon{
    width: 17px;
    opacity: 0.4;
    margin-right: 0.3em;
}

.icon{
    margin-right: 1.5em;
    width: 23px;
    height: 23px;
    cursor: pointer;
}
